In [2]:
import pandas as pd
import matplotlib as plt
df =pd.read_csv(r"E:\data sets\sales_and_customer_insights.csv")
df.head(5)

,Unnamed: 0.1,Unnamed: 0,order_no,Customer_ID,Product_ID,Transaction_ID,Purchase_quantity,Average_values,Most_Frequent_Category,Time_Between_Purchases,Region,Churn_Probability,Lifetime_Value,Launch_Date,Peak_Sales_Date,Season,Preferred_Purchase_Times,Retention_Strategy
0,0,0,0,CUST_9HOS83,PROD_IK97D1,TRANS_II1DZG,17,172.57,Electronics,45,South America,0.98,952.81,2020-03-14,2023-09-11,Winter,Afternoon,Loyalty Program
1,1,1,1,CUST_AJU17N,PROD_UNN7KP,TRANS_9HJF7I,10,64.89,Clothing,6,South America,0.66,5427.51,2022-10-15,2023-01-02,Spring,Afternoon,Discount
2,2,2,2,CUST_11XNYF,PROD_0XEW2W,TRANS_OT96OM,3,120.38,Sports,23,Asia,0.60,3994.80,2021-11-30,2023-04-06,Winter,Evening,Loyalty Program
3,3,3,3,CUST_IGH8G3,PROD_3IIAJN,TRANS_45V00G,12,70.34,Clothing,5,North America,0.78,4880.01,2022-03-20,2023-03-23,Spring,Evening,Discount
4,4,4,4,CUST_OK6PUM,PROD_VMIWD2,TRANS_ZAK760,18,42.39,Electronics,10,North America,0.52,8557.70,2022-11-09,2023-10-28,Spring,Morning,Discount

In [3]:
## findout datasets's datatypes 
df.shape
df.dtypes

Unnamed: 0.1                  int64
Unnamed: 0                    int64
order_no                      int64
Customer_ID                  object
Product_ID                   object
Transaction_ID               object
Purchase_quantity             int64
Average_values              float64
Most_Frequent_Category       object
Time_Between_Purchases        int64
Region                       object
Churn_Probability           float64
Lifetime_Value              float64
Launch_Date                  object
Peak_Sales_Date              object
Season                       object
Preferred_Purchase_Times     object
Retention_Strategy           object
dtype: object

In [50]:

df1 = df.drop(columns = ['Unnamed: 0.1','Unnamed: 0'])
df1

,order_no,Customer_ID,Product_ID,Transaction_ID,Purchase_quantity,Average_values,Most_Frequent_Category,Time_Between_Purchases,Region,Churn_Probability,Lifetime_Value,Launch_Date,Peak_Sales_Date,Season,Preferred_Purchase_Times,Retention_Strategy
0,0,CUST_9HOS83,PROD_IK97D1,TRANS_II1DZG,17,172.57,Electronics,45,South America,0.98,952.81,2020-03-14,2023-09-11,Winter,Afternoon,Loyalty Program
1,1,CUST_AJU17N,PROD_UNN7KP,TRANS_9HJF7I,10,64.89,Clothing,6,South America,0.66,5427.51,2022-10-15,2023-01-02,Spring,Afternoon,Discount
2,2,CUST_11XNYF,PROD_0XEW2W,TRANS_OT96OM,3,120.38,Sports,23,Asia,0.60,3994.80,2021-11-30,2023-04-06,Winter,Evening,Loyalty Program
3,3,CUST_IGH8G3,PROD_3IIAJN,TRANS_45V00G,12,70.34,Clothing,5,North America,0.78,4880.01,2022-03-20,2023-03-23,Spring,Evening,Discount
4,4,CUST_OK6PUM,PROD_VMIWD2,TRANS_ZAK760,18,42.39,Electronics,10,North America,0.52,8557.70,2022-11-09,2023-10-28,Spring,Morning,Discount
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,CUST_BIH0QW,PROD_AAPCHD,TRANS_EP2EGL,15,162.51,Clothing,72,Europe,0.84,1154.61,2022-03-04,2023-02-10,Winter,Evening,Loyalty Program
9996,9996,CUST_DWJAD2,PROD_XWJQE5,TRANS_X7OPB7,18,63.02,Clothing,68,Europe,0.03,593.22,2021-08-21,2023-02-06,Spring,Morning,Loyalty Program
9997,9997,CUST_43HBYL,PROD_PL3BU5,TRANS_VSZM3Y,15,116.80,Home,72,Asia,0.61,4676.35,2020-09-13,2023-05-05,Spring,Evening,Discount
9998,9998,CUST_0SX4MD,PROD_X5O49V,TRANS_B2YCHY,12,144.21,Electronics,38,North America,0.05,6850.85,2020-01-26,2023-08-03,Summer,Morning,Discount
9999,9999,CUST_U1AP5I,PROD_CTS1GQ,TRANS_IBPVC5,3,91.32,Electronics,6,Europe,0.67,1549.00,2021-04-17,2023-01-25,Fall,Morning,Discount

In [24]:
## replacing values 
df1.rename(columns = {'Most_Frequent_Category':'Most_Frequent'}).head(2)

,order_no,Customer_ID,Product_ID,Transaction_ID,Purchase_quantity,Average_values,Most_Frequent,Time_Between_Purchases,Region,Churn_Probability,Lifetime_Value,Launch_Date,Peak_Sales_Date,Season,Preferred_Purchase_Times,Retention_Strategy
0,0,CUST_9HOS83,PROD_IK97D1,TRANS_II1DZG,17,172.57,Electronics,45,South America,0.98,952.81,2020-03-14,2023-09-11,Winter,Afternoon,Loyalty Program
1,1,CUST_AJU17N,PROD_UNN7KP,TRANS_9HJF7I,10,64.89,Clothing,6,South America,0.66,5427.51,2022-10-15,2023-01-02,Spring,Afternoon,Discount

In [25]:
## data cleaning 
df1.isnull().sum()
df1.duplicated().sum()
df1.isna().sum()
df1.dtypes

order_no                      int64
Customer_ID                  object
Product_ID                   object
Transaction_ID               object
Purchase_quantity             int64
Average_values              float64
Most_Frequent_Category       object
Time_Between_Purchases        int64
Region                       object
Churn_Probability           float64
Lifetime_Value              float64
Launch_Date                  object
Peak_Sales_Date              object
Season                       object
Preferred_Purchase_Times     object
Retention_Strategy           object
dtype: object

In [26]:
## exploring data 
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_no                  2 non-null      int64
 1   Customer_ID               2 non-null      object
 2   Product_ID                2 non-null      object
 3   Transaction_ID            2 non-null      object
 4   Purchase_quantity         2 non-null      int64
 5   Average_values            2 non-null      float64
 6   Most_Frequent_Category    2 non-null      object
 7   Time_Between_Purchases    2 non-null      int64
 8   Region                    2 non-null      object
 9   Churn_Probability         2 non-null      float64
 10  Lifetime_Value            2 non-null      float64
 11  Launch_Date               2 non-null      object
 12  Peak_Sales_Date           2 non-null      object
 13  Season                    2 non-null      object
 14  Preferred_Purchase_Times  2 non-null      object
 15  Retention_Strategy        2 non-null      object
dtypes: float64(3), int64(3), object(10)
memory usage: 388.0+ bytes

In [27]:
df1.describe()

,order_no,Purchase_quantity,Average_values,Time_Between_Purchases,Churn_Probability,Lifetime_Value
count,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,0.500000,13.500000,118.730000,25.500000,0.820000,3190.160000
std,0.707107,4.949747,76.141258,27.577164,0.226274,3164.090714
min,0.000000,10.000000,64.890000,6.000000,0.660000,952.810000
25%,0.250000,11.750000,91.810000,15.750000,0.740000,2071.485000
50%,0.500000,13.500000,118.730000,25.500000,0.820000,3190.160000
75%,0.750000,15.250000,145.650000,35.250000,0.900000,4308.835000
max,1.000000,17.000000,172.570000,45.000000,0.980000,5427.510000

In [28]:
df1.columns

Index(['order_no', 'Customer_ID', 'Product_ID', 'Transaction_ID',
       'Purchase_quantity', 'Average_values', 'Most_Frequent_Category',
       'Time_Between_Purchases', 'Region', 'Churn_Probability',
       'Lifetime_Value', 'Launch_Date', 'Peak_Sales_Date', 'Season',
       'Preferred_Purchase_Times', 'Retention_Strategy'],
      dtype='object')

In [31]:
df1.memory_usage().sum()
df1.nunique()

order_no                    2
Customer_ID                 2
Product_ID                  2
Transaction_ID              2
Purchase_quantity           2
Average_values              2
Most_Frequent_Category      2
Time_Between_Purchases      2
Region                      1
Churn_Probability           2
Lifetime_Value              2
Launch_Date                 2
Peak_Sales_Date             2
Season                      2
Preferred_Purchase_Times    1
Retention_Strategy          2
dtype: int64

In [45]:
## selecting and filtering functions
df.loc[5]

Unnamed: 0.1                              5
Unnamed: 0                                5
order_no                                  5
Customer_ID                     CUST_63F5GB
Product_ID                      PROD_L0NAD5
Transaction_ID                 TRANS_HI4MBV
Purchase_quantity                        12
Average_values                        132.9
Most_Frequent_Category          Electronics
Time_Between_Purchases                   42
Region                               Europe
Churn_Probability                      0.25
Lifetime_Value                      8215.33
Launch_Date                      2020-12-26
Peak_Sales_Date                  2023-12-09
Season                               Winter
Preferred_Purchase_Times            Evening
Retention_Strategy          Loyalty Program
Name: 5, dtype: object

In [60]:
df1.query('Average_values > 50');

df_filtered = df1.query('Average_values > 150' and 'Purchase_quantity > 10')
df_filtered
df_asia  = df1.query("Region == 'Asia'")
df_asia

,order_no,Customer_ID,Product_ID,Transaction_ID,Purchase_quantity,Average_values,Most_Frequent_Category,Time_Between_Purchases,Region,Churn_Probability,Lifetime_Value,Launch_Date,Peak_Sales_Date,Season,Preferred_Purchase_Times,Retention_Strategy
2,2,CUST_11XNYF,PROD_0XEW2W,TRANS_OT96OM,3,120.38,Sports,23,Asia,0.60,3994.80,2021-11-30,2023-04-06,Winter,Evening,Loyalty Program
7,7,CUST_EMHZQV,PROD_PVOV5L,TRANS_9B8B46,10,67.52,Electronics,56,Asia,0.56,5167.16,2021-02-17,2023-06-12,Summer,Afternoon,Discount
11,11,CUST_FX276G,PROD_K192VJ,TRANS_HEH3CY,13,54.53,Electronics,53,Asia,0.73,9395.60,2021-07-29,2023-12-26,Fall,Morning,Email Campaign
14,14,CUST_7I11M9,PROD_ELE4RZ,TRANS_W2RL1O,18,95.85,Electronics,13,Asia,0.34,6299.37,2020-08-05,2023-08-06,Spring,Morning,Discount
16,16,CUST_EF8557,PROD_P2DMGE,TRANS_29D2I2,10,139.31,Sports,78,Asia,0.78,6578.30,2022-02-05,2023-11-29,Winter,Evening,Email Campaign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9987,9987,CUST_WA3F4N,PROD_JMFJFL,TRANS_N8RQ74,9,172.41,Clothing,61,Asia,0.86,8427.73,2021-08-19,2023-11-15,Winter,Afternoon,Discount
9988,9988,CUST_VZ463X,PROD_3SM4RH,TRANS_YHYY3F,9,199.22,Home,10,Asia,0.16,9504.99,2020-11-11,2023-08-05,Spring,Evening,Loyalty Program
9989,9989,CUST_FLYXFK,PROD_S9GAIK,TRANS_0ZD289,3,161.59,Sports,61,Asia,0.19,2519.69,2022-10-20,2023-11-02,Winter,Afternoon,Discount
9990,9990,CUST_YS62WF,PROD_XWOHK5,TRANS_OYHBTJ,3,160.03,Home,86,Asia,0.97,3836.21,2022-07-04,2023-02-24,Spring,Morning,Email Campaign
9997,9997,CUST_43HBYL,PROD_PL3BU5,TRANS_VSZM3Y,15,116.80,Home,72,Asia,0.61,4676.35,2020-09-13,2023-05-05,Spring,Evening,Discount

In [58]:
df1.nlargest(n = 1, columns = 'Average_values')
df1.nlargest(n = 10, columns = 'Average_values' )

,order_no,Customer_ID,Product_ID,Transaction_ID,Purchase_quantity,Average_values,Most_Frequent_Category,Time_Between_Purchases,Region,Churn_Probability,Lifetime_Value,Launch_Date,Peak_Sales_Date,Season,Preferred_Purchase_Times,Retention_Strategy
7006,7006,CUST_01457S,PROD_JJ9K6Y,TRANS_N3N3PS,18,199.96,Sports,10,North America,0.68,5860.34,2022-10-09,2023-06-29,Spring,Morning,Email Campaign
8356,8356,CUST_FA1ZZ3,PROD_W6TANH,TRANS_RHTLI2,7,199.96,Sports,10,Asia,0.51,4757.57,2021-11-22,2023-03-22,Summer,Afternoon,Discount
8415,8415,CUST_U3IQ4X,PROD_N4G11L,TRANS_CYJ2GT,5,199.95,Clothing,78,North America,0.04,922.71,2022-11-05,2023-04-25,Winter,Morning,Discount
2910,2910,CUST_EDLYA5,PROD_4SG4I8,TRANS_XOH7NF,9,199.91,Electronics,88,Europe,0.82,5143.44,2020-02-04,2023-04-23,Fall,Morning,Loyalty Program
4245,4245,CUST_RVOINA,PROD_JOI6CX,TRANS_VYN7Q0,1,199.91,Home,44,Europe,0.85,8792.72,2021-08-20,2023-09-27,Spring,Evening,Discount
1825,1825,CUST_5W4VTY,PROD_2GVFAM,TRANS_6QCROS,10,199.90,Electronics,30,South America,0.40,9888.87,2021-01-29,2023-07-03,Fall,Morning,Email Campaign
6940,6940,CUST_HYV0IY,PROD_LXR0WV,TRANS_FOVSVW,14,199.89,Sports,18,South America,0.41,3896.46,2022-05-13,2023-04-17,Spring,Morning,Discount
4084,4084,CUST_P1R007,PROD_7GHZBT,TRANS_MXY4SD,9,199.88,Electronics,84,North America,0.79,3937.87,2021-09-08,2023-04-21,Spring,Afternoon,Email Campaign
3323,3323,CUST_2UYBKS,PROD_DGIGST,TRANS_NPTAQX,16,199.86,Electronics,79,Asia,0.16,4416.64,2021-07-13,2023-10-29,Spring,Evening,Discount
7986,7986,CUST_L7BA41,PROD_QENDD9,TRANS_M8MG8Y,9,199.83,Clothing,9,Europe,0.47,9488.20,2020-07-14,2023-05-28,Spring,Evening,Loyalty Program

In [62]:
df_asia.nlargest(n = 5,columns = 'Average_values')

,order_no,Customer_ID,Product_ID,Transaction_ID,Purchase_quantity,Average_values,Most_Frequent_Category,Time_Between_Purchases,Region,Churn_Probability,Lifetime_Value,Launch_Date,Peak_Sales_Date,Season,Preferred_Purchase_Times,Retention_Strategy
8356,8356,CUST_FA1ZZ3,PROD_W6TANH,TRANS_RHTLI2,7,199.96,Sports,10,Asia,0.51,4757.57,2021-11-22,2023-03-22,Summer,Afternoon,Discount
3323,3323,CUST_2UYBKS,PROD_DGIGST,TRANS_NPTAQX,16,199.86,Electronics,79,Asia,0.16,4416.64,2021-07-13,2023-10-29,Spring,Evening,Discount
3811,3811,CUST_R9M7U3,PROD_M84J6C,TRANS_3O1GXR,8,199.82,Sports,8,Asia,0.63,8734.18,2020-10-30,2023-07-09,Spring,Morning,Loyalty Program
2406,2406,CUST_1HOD2S,PROD_AF2BAD,TRANS_9N9J6W,5,199.66,Electronics,86,Asia,0.58,8867.69,2020-05-18,2023-12-02,Summer,Evening,Discount
5605,5605,CUST_93PNSA,PROD_32A9RC,TRANS_WZGKG1,2,199.48,Sports,26,Asia,0.35,724.35,2020-06-08,2023-01-17,Winter,Afternoon,Loyalty Program

In [67]:
df_asia.nsmallest(n=5,columns = 'Average_values')

,order_no,Customer_ID,Product_ID,Transaction_ID,Purchase_quantity,Average_values,Most_Frequent_Category,Time_Between_Purchases,Region,Churn_Probability,Lifetime_Value,Launch_Date,Peak_Sales_Date,Season,Preferred_Purchase_Times,Retention_Strategy
9214,9214,CUST_6NB2JK,PROD_DZPS0K,TRANS_QNC3AS,12,20.01,Clothing,36,Asia,0.14,4813.24,2021-03-25,2023-05-02,Fall,Morning,Email Campaign
4777,4777,CUST_AKXT6O,PROD_WB02A2,TRANS_M5AN70,9,20.06,Home,44,Asia,0.17,9067.15,2020-11-30,2023-01-03,Spring,Morning,Discount
6361,6361,CUST_4N6R6Y,PROD_SZTLAB,TRANS_V10LCQ,14,20.09,Clothing,68,Asia,0.18,2920.95,2020-07-26,2023-03-25,Fall,Evening,Discount
5191,5191,CUST_HT267O,PROD_VPZXXE,TRANS_DAU2US,8,20.18,Home,64,Asia,0.95,7181.61,2022-04-05,2023-04-21,Fall,Evening,Discount
9717,9717,CUST_ADRW4R,PROD_M9X25W,TRANS_DMGL9S,1,20.19,Sports,39,Asia,0.89,5283.95,2022-03-07,2023-07-29,Winter,Afternoon,Email Campaign

In [64]:
## exporting data to sql 
import pymysql
from sqlalchemy import create_engine

engine_mysql = create_engine("mysql+pymysql://root:2005@127.0.0.1:3306/Asia_sales_insights")

try:
    create_engine
    print("engine sucessfully active")
except:
    print("unable to connect")

engine sucessfully active

In [66]:
df_asia.duplicated().sum()

np.int64(0)

In [78]:
## sorting functions
df_asia.sort_values('Average_values', ascending = False).head(5)

df_asia.describe()

,order_no,Purchase_quantity,Average_values,Time_Between_Purchases,Churn_Probability,Lifetime_Value
count,2472.000000,2472.000000,2472.000000,2472.000000,2472.000000,2472.000000
mean,5035.661408,9.970469,110.213896,46.315939,0.507265,5048.313580
std,2889.431865,5.471121,51.516145,24.576990,0.289349,2864.077965
min,2.000000,1.000000,20.010000,5.000000,0.000000,100.550000
25%,2533.500000,5.000000,65.932500,25.000000,0.260000,2574.085000
50%,5013.500000,10.000000,109.960000,45.000000,0.510000,5006.985000
75%,7554.500000,15.000000,155.472500,67.000000,0.760000,7561.667500
max,9997.000000,19.000000,199.960000,89.000000,1.000000,9994.990000

In [65]:
df_asia.to_sql('Asia_sales_insights',con=engine_mysql,if_exists='append',index = False)

C:\Users\Admin\AppData\Local\Temp\ipykernel_8492\3489983729.py:1: UserWarning: The provided table name 'Asia_sales_insights' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_asia.to_sql('Asia_sales_insights',con=engine_mysql,if_exists='append',index = False)

2472

In [79]:
df_asia.to_excel('C:\\Users\\Admin\\OneDrive\\vk_salesdata.xlsx',index=False)